h1{
  background-color: rgb(96,0,0);
  color : white;
  margin : 0;
  padding: 15px;
  text-align: center;
}

table, th, td
{
  border : 1px solid black;
  border-collapse: collapse;
  padding: 10px;
}

th
{
  background-color: rgb(96,0,0);
  color : white;
}

table
{
  margin : 20px auto;
}